.main-home  .button-place .btn{
    margin-left: 40%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.modal-header {
    text-align: center;
}

.button-book {
    color: #062f41;
}

.room-ivent {
    margin-top: 6px;
}

.form-room-for-ivent {
    text-align: center;
    color: #1a45a1;
    font-weight: bold;
}

.list-of-members{
    float: left;
    overflow: auto;
    height: 120px;
    width: 320px;
}

.list-of-new-members{
    overflow: auto;
    height: 130px;
}

.list-of-members li{
    list-style: none;
}

.member-elem{
    padding-top:5px;
    padding-bottom:5px;
    border-bottom: 1px solid #c8d5da;
}

.member-elem .name {
    padding-left: 10px;
    text-align: left;
}

.member-elem img{
    border-radius: 25px;
}

.list-of-new-members img{
    border-radius: 25px;
}

.list-of-new-members li{
    list-style: none;
}

.new-member-elem {
    padding-top:5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #c8d5da;
}

.new-member-elem .name{
    padding-left:10px;
    text-align: left;
}

.add-checkbox {
    height: 25px;
    width: 25px;
}

.right-close {
    float: right;
}

.btn-cls {
    color:red;
    float: right;
    font-size: 30px;
    margin-top: 10px;
    margin-right: 10px;
}

.checkbox-right {
    padding-top: 5px;
    float: right;
    margin-right: 10%;
}

.modal-members {
    width: 60%;
    margin: auto;
    margin-top: 20%;
}

.p-result {
    margin-top: 10px;
}

.modal-result {
    width: 70%;
    margin: auto;
    margin-top: 20%;
}

.panel-result {
    font-size: 16px;
    text-align: center;
}

.panel-result .panel-body {
    background-color: #99d19e;
    color: #35683a;
}

.span-room {
    margin-left: 3px;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
}

.share-message p{
    margin-top: 8px;
}

.checkbox-share {
    height: 25px;
    width: 25px;
}

@media (max-width: 768px) {
    .main-home  .button-place .btn{
        width: 100%;
        margin: 10px auto;
    }

    .modal-members {
        width: 95%;
    }

    .p-result {
        text-align: center;
    }

    .list-of-members{
        float: left;
        overflow: auto;
        height: 115px;
        width: 300px;
    }

    .booking-submit {
        height: 45px;
    }

    #myModal .modal-footer {
        margin-top: -20px;
    }

    .share-message p{
        margin-top: 0px;
    }

    .div-checkbox-share {
        margin-top: 10px;
    }

    .button-another-book {
        margin-top: 20px;
    }
}
