<template>
    <div class="main-home">
        <div class="button-place">
            <button class="btn btn-info btn-lg button-book" type="button" data-toggle="modal" v-on:click="getEmployeesData" data-target="#myModal">Забронировать</button>
        </div>
        <div id="myModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close right-close" type="button" data-dismiss="modal">×</button>
                        <h4 class="modal-title">Бронирование комнаты</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form" method="post" name="booking">
                            <div class="row">
                                <div class="form-group col-md-7 col-sm-7 col-xs-12">
                                    <label for="ivent-name">Мероприятие:</label>
                                    <input type="text" class="form-control ivent-name-field" id="ivent-name" v-model="meeting.theme" name="ivent-name" placeholder="Название мероприятия">
                                </div>
                                <div class="form-group col-md-4 col-sm-4 col-xs-6">
                                    <label for="ivent-date">Дата:</label>
                                    <div class="dateblock">
                                        <el-date-picker type="date" v-model="date" placeholder="Выберите дату" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-8 col-sm-8 col-xs-10">
                                    <label for="ivent-time1">
                                        <b>Время</b>
                                    </label>
                                    <div id="doubleclock">
                                        <el-time-picker is-range v-model="duration" placeholder="Укажите время" />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-2 col-sm-2 col-xs-12">
                                    <label for="ivent-members">Участники:</label>
                                </div>

                                <div class="form-group col-md-7 col-sm-7 col-xs-12">
                                    <ul v-if="employees.length" class="list-of-members">
                                        <li v-for="employee in meeting.employeeMeetings">
                                            <div class="member-elem">
                                                <button class="close btn-cls" v-on:click="deleteMember(employee.id)" type="button">×</button>
                                                <img src="./photo.jpg" alt="Фото" height="50" width="50">
                                                <span class="name">
                                                    <b>{{employee.firstName}}</b>
                                                </span>
                                                <span class="secName">
                                                    <b>{{employee.lastName}}</b>
                                                </span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="form-group col-md-3 col-sm-3 col-xs-12">
                                    <button class="btn btn-info button-new-member" type="button" data-toggle="modal" data-target="#modalMembers">Добавить</button>
                                </div>
                            </div>
                            <div>
                                <div v-if="selected.length" class="row">
                                    <div v-if="rooms.length">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <label for="ivent-room">Выберете желаемую Вами переговорную:</label>
                                        </div>
                                        <div class="form group room-ivent col-md-5 col-sm-5 col-xs-12">
                                            <div v-if="rooms.length">
                                                <select v-model="selected">
                                                    <option v-for="room in rooms" v-bind:value="room.name">
                                                        <div>
                                                            <!-- Название:  -->
                                                            {{ room.name }}
                                                            <!-- <br/> Вместимость {{ room.capacity}}
                                                            <br/> Этаж {{ room.floor }} -->
                                                        </div>
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div v-else>
                                        <em> {{ selected }}</em>
                                    </div>
                                    <!-- After this new modal will open -->
                                    <!-- <div class="form-group col-md-3 col-sm-3 col-xs-4">
                                    <button name="new-room" class="btn btn-info button-another-book" type="button" data-toggle="modal" data-target="#modalRoom">Выбрать другую</button>
                                </div> -->
                                </div>
                                <div v-else>
                                    <em>Выберите время и здесь появятся подходящие переговорные комнаты</em>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="booking-subm"></label>
                                <input type="submit" name="booking-subm" class="form-control btn btn-success booking-submit" data-dismiss="modal" data-toggle="modal"
                                    data-target="#modalResult" value="Забронировать" v-on:click="onSubmit($event)">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <div form-group>
                            <button class="btn btn-default" type="button" data-dismiss="modal">Закрыть</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="modalRoom" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close right-close" type="button" data-dismiss="modal">×</button>
                        <h4 class="modal-title">Выбор комнаты</h4>
                    </div>
                    <div class="modal-body">Кажется, вам не понравилась предложенная комната!</div>
                    <div class="modal-footer">
                        <button class="btn btn-default" type="button" data-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="modalMembers" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content modal-members">
                    <div class="modal-header">
                        <button class="close right-close" type="button" data-dismiss="modal">×</button>
                        <h4 class="modal-title">Добавить участников</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form" method="post" name="adding-new-members">
                            <ul class="list-of-new-members">
                                <li v-for="employee in employees">
                                    <div class="new-member-elem">
                                        <img src="./photo.jpg" alt="Фото" height="50" width="50">
                                        <label for="box1">
                                            <span class="name">
                                                <b>{{employee.firstName}}</b>
                                            </span>
                                            <span class="secName">
                                                <b>{{employee.lastName}}</b>
                                            </span>
                                        </label>
                                        <div class="checkbox-right">
                                            <input class="add-checkbox" type="checkbox" id="box1" :value="employee.id" v-on:click="checkboxToggle(employee.id)" v-model="checkedEmployees">
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="form-group">
                                <label for="adding-end"></label>
                                <input type="submit" name="adding-end" class="form-control btn btn-success adding-submit" data-dismiss="modal" value="ОК">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="modalResult" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content modal-result">
                    <div class="modal-body">
                        <form role="form" method="post" name="adding-new-members">
                            <div class="form-group">
                                <div class="panel panel-success panel-result">
                                    <div class="panel-heading">Добавлено</div>
                                    <div class="panel-body">
                                        Ваша комната:
                                        <span class="span-room">773/a</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group share-message">
                                <div class=" col-md-9 col-sm-9 col-xs-9">
                                    <p>Отправить уведомление участникам?</p>
                                </div>
                                <div class="col-md-3 col-sm-3 cols-xs-2">
                                    <input class="checkbox-share" type="checkbox" name="share-checkbox" id="share-checkbox">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="adding-end"></label>
                                <input type="submit" name="adding-end" class="form-control btn btn-success share-submit" data-dismiss="modal" value="ОК">
                            </div>
                        </form>
                    </div>
            <!--<button class="btn btn-info btn-lg button-book" type="button" v-on:click="callApi" data-toggle="modal" >Отправить сообщение</button>-->            
                </div>
            </div>
        </div>
        <vue-event-calendar :events="meetings">
            <template scope="props">
                <div v-for="(event, index) in props.showEvents" class="event-item">
                    <h3 class="title">{{index+1}}. {{event.title}}</h3>
                    <p class="time">{{new Date(event.startTime).toISOString().split('T')[0]}}</p>
                    <p class="desc">{{event.date}}</p>
                </div>
            </template>
        </vue-event-calendar>
    </div>
</template>

<style src="./home.css" />
<script src="./home.ts"></script>
