<template>
    <div class="main-home">
        <div class="button-place">
            <button class="btn btn-info btn-lg button-book" type="button" data-toggle="modal" data-target="#myModal">Забронировать</button>
        </div>
        <div id="myModal" class="modal fade ">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" type="button" data-dismiss="modal">×</button>
                        <h4 class="modal-title">Бронирование переговорной</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form" method="post" name="booking">
                            <div class="row">
                                <div class="form-group col-md-8 col-sm-8">
                                    <label for="ivent-name">Мероприятие:</label>
                                    <input type="text" class="form-control ivent-name-field" id="ivent-name" name="ivent-name" placeholder="Название мероприятия">
                                </div>
                                <div class="form-group col-md-4 col-sm-4">
                                    <label for="ivent-date">Дата:</label>
                                    <input type="date" class="form-control ivent-date-field" id="ivent-date" name="ivent-date">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-3 col-sm-3">
                                    <label for="ivent-time1">
                                        <b>С:</b>
                                    </label>
                                    <input type="time" class="form-control ivent-time1-field" id="ivent-time1" name="ivent-time1">
                                </div>
                                <div class="form-group col-md-3 col-sm-3">
                                    <label for="ivent-time2">
                                        <b>ДО:</b>
                                    </label>
                                    <input type="time" class="form-control ivent-time2-field" id="ivent-time2" name="ivent-time2">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-2 col-sm-2">
                                    <label for="ivent-members">Участники:</label>
                                </div>
                                <div class="form-group col-md-6 col-sm-6">
                                    <select class="form-control" name="ivent-members" value="Участники">
                                        <option></option>
                                    </select>
                                </div>
                                <!-- Place for ts script -->
                                <div class="form-group col-md-4 col-sm-4">
                                    <button class="btn btn-info button-new-member" type="button">Добавить</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-sm-4">
                                    <label for="ivent-room">Ваша переговорная:</label>
                                </div>
                                <div class="form group room-ivent col-md-4 col-sm-4">
                                    <input type="text" value="1488" class="form-control form-room-for-ivent" id="ivent-room" name="ivent-room">
                                </div>
                                <!-- After this new modal will open -->
                                <div class="form-group col-md-4 col-sm-4">
                                    <button name="new-room" class="btn btn-info button-another-book" type="button" data-toggle="modal" data-target="#modalRoom">Выбрать другую</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="booking-subm"></label>
                                <input type="submit" name="booking-subm" class="form-control btn btn-success booking-submit" value="Забронировать">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <div form-group>
                            <button class="btn btn-default" type="button" data-dismiss="modal">Закрыть</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- New modal, now clear -->
        <div id="modalRoom" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" type="button" data-dismiss="modal">×</button>
                        <h4 class="modal-title">Выбор комнаты</h4>
                    </div>
                    <div class="modal-body">Кажется, вам не понравилась предложенная переговорная!</div>
                    <div class="modal-footer">
                        <button class="btn btn-default" type="button" data-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style src="./home.css" />