<template>
    <div>
        <div id="Template">
            <div>
                <form-wizard @on-complete="onComplete" subtitle="Внимательно проверяйте данные: некоторые из них взяты из вашего аккаунта Вконтакте!"
                    title="Отправка данных по шаблону" color=#5bc0de back-button-text="Предыдущий шаг" next-button-text="Следующий шаг"
                    finish-button-text="Отправить данные">
                    <tab-content title="ФИО, возраст" icon="ti-user">
                        <div class="row">
                            <input type="text" class="form-control lname-field" id="lname" placeholder="Фамилия">
                        </div>
                        <div class="row">
                            <input type="text" class="form-control fname-field" id="fname" placeholder="Имя">
                        </div>
                        <div class="row">
                            <input type="text" class="form-control dname-field" id="dname" placeholder="Отчество">
                        </div>
                        <div class="row">
                            <input type="text" class="form-control age-field" id="age" placeholder="Возраст">
                        </div>
                    </tab-content>
                    <tab-content title="Номер бла-бла-бла" icon="ti-settings">
                        <input type="text" class="form-control blah-field" id="ivent-blah" placeholder="Введите бла-бла-бла">
                    </tab-content>
                    <tab-content title="Уточка" icon="ti-check">
                        <input type="text" class="form-control duck" id="duck" placeholder="УТКА ЕСТ ПЕЛЬМЕШКУ!!!!!">
                    </tab-content>
                </form-wizard>
            </div>
        </div>
    </div>
</template>

<style src="./counter.css" />
<script src="./counter.ts"></script>