@{
    ViewData["Title"] = "Главная";
}

<div id='app-root'>Loading...</div>

@section scripts {
    <script src="~/dist/main.js" asp-append-version="true"></script>
    <script src="https://vk.com/js/api/xd_connection.js?2"  type="text/javascript"></script>
}
