<template>
    <div>
        <div id="Template">
            <div>
                <form-wizard @on-complete="onComplete" subtitle="Внимательно проверяйте данные: некоторые из них взяты из вашего аккаунта Вконтакте!"
                    title="Отправка данных по шаблону" color=#5bc0de back-button-text="Предыдущий шаг" next-button-text="Следующий шаг"
                    finish-button-text="Отправить данные">
                    <tab-content title="Классификация шаблона" icon="ti-settings">
                        <input type="text" class="form-control blah-field" v-model="type" id="ivent-blah" placeholder="Введите тип справки">
                    </tab-content>
                    <tab-content title="ФИO, возраст" icon="ti-user">
                        <div class="row">
                            <input type="text" class="form-control lname-field" v-model="firstname" id="lname" placeholder="Фамилия">
                        </div>
                        <div class="row">
                            <input type="text" class="form-control fname-field" v-model="lastname" id="fname" placeholder="Имя">
                        </div>
                        <div class="row">
                            <input type="text" class="form-control fname-field" v-model="patronomic" id="fname" placeholder="Отчество">
                        </div>
                        <div class="row">
                            <input type="text" class="form-control age-field" v-model="age" id="age" placeholder="Возраст">
                        </div>
                    </tab-content>
                    <tab-content title="Подвердите корректность данных" icon="ti-check">
                        <div>
                            Тип {{type}}
                            <br/> Фамилия {{firstname}}
                            <br/> Имя {{lastname}}
                            <br/> Отчество {{patronomic}}
                            <br/> Возраст{{age}}
                        </div>
                    </tab-content>
                </form-wizard>
            </div>
        </div>
    </div>
</template>

<style src="./templates.css" />
<script src="./templates.ts"></script>